


<% @tasks.each do |d| %>
<div>
<br>
<p>Name: <%= d.name %></p>
<p>Description: <%= d.description %></p>
<p>Check if completed: <%= d.completed %></p>
<p>Created At: <%= d.created_at %></p>
<p>Updated At: <%= d.updated_at %></p>

</div>

<% end %>
