<h3>Name: <%= @tasks.name %></h3>
<h3>Description: <%= @tasks.description %></h3>
<h3>completed: <%= @tasks.completed %></h3>
<h3>Created At: <%= @tasks.created_at %></h3>
<h3>Updated At: <%= @tasks.updated_at %></h3>
