<%= form_for @students do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name, value: @students.first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name, value: @students.last_name %>
<%= f.label :age %>
<%= f.text_field :age, value: @students.age %>
<%= f.label :highest_education %>
<%= f.text_field :highest_education, value: @students.highest_education %>
<h1>Update Cohort To:</h1>

<%= collection_radio_buttons(:student, :cohort_id, Cohort.all, :id, :name_with_initial, include_hidden: false) do |b| %>
<div>
<%= b.radio_button %>
<%= b.label %>
</div>
<% end %>
<h1>Update Course To:</h1>

<%= collection_radio_buttons(:student, :course_id, Course.all, :id, :name_with_initial, include_hidden: false) do |c| %>
<div>
<%= c.radio_button %>
<%= c.label %>
</div>
<% end %>
<%= f.submit %>
<% end %>

<%= button_to 'Delete', student_path(@students), method: :delete, confirm: 'Are you sure?' %>
