<%= render 'shared/navbar' %>
<%= render 'shared/new_student' %>






<%= form_for @students do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.label :age %>
<%= f.text_field :age %>
<%= f.label :highest_education %>
<%= f.text_field :highest_education %>
<h1>Choose Cohort:</h1>

<%= collection_radio_buttons(:student, :cohort_id, Cohort.all, :id, :name_with_initial) do |b| %>
<div>
<%= b.radio_button %>
<%= b.label %>
</div>
<% end %>
<h1>Choose Course:</h1>

<%= collection_radio_buttons(:student, :course_id, Course.all, :id, :name_with_initial) do |c| %>
<div>
<%= c.radio_button %>
<%= c.label %>
</div>
<% end %>
<%= f.submit %>
<% end %>
