<h3>First name: <%= @students.first_name %></h3>
<h3>Last name: <%= @students.last_name %></h3>
<h3>age: <%= @students.age %></h3>
<h3>highest Education: <%= @students.highest_education %></h3>
<h3>Cohort: <%= @students.cohort.name %></h3>
<h3>Course: <%= @students.course.name %></h3>
