<h3>First name: <%= @instructors.first_name %></h3>
<h3>Last name: <%= @instructors.last_name %></h3>
<h3>Age: <%= @instructors.age %></h3>
<h3>Salary: <%= @instructors.salary %></h3>
<h3>Highest Education: <%= @instructors.highest_education %></h3>
<h3>Course: <%= @instructors.course.name %></h3>
