<div id="content">
  <div id="content-header">

<div class="row-fluid">
  <div class="span12">
<div class="widget-box">
  <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>


    <h5>Edit Cohort Details</h5>
  </div>
  <div class="widget-content nopadding">
    <div class="form-horizontal">

      <div class="control-group">
        <%= form_for @cohorts do |f| %>
        <%= f.label :name, "Cohort Name :", class: "control-label" %>
        <div class="controls">
      <%= f.text_field :name, class: 'span11', autofocus: true, placeholder: 'Cohort Name', value: @cohorts.name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :start_date, "Cohort Start Date :", class: "control-label" %>
        <div class="controls">
      <%= f.text_field :start_date, class: 'span11', autofocus: true, placeholder: 'Start Date', value: @cohorts.start_date %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :end_date, "Cohort End Date :", class: "control-label" %>
        <div class="controls">
      <%= f.text_field :end_date, class: 'span11', autofocus: true, placeholder: 'End Date', value: @cohorts.end_date %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :course_id, "Change Course :", class: "control-label" %>
        <div class="controls">
          <%= f.collection_select(:course_id, Course.all, :id, :name_with_initial, prompt: true, class: "form-control", include_hidden: false,  value: @cohorts.course_id) %>
        </div>

      <div>
        <%= f.submit class: "btn btn-success"%>
      <% end %>
      <%= button_to 'Delete', cohort_path(@cohorts), method: :delete, class: "btn btn-success", confirm: 'Are you sure?' %>
    </div>

    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
