
<div id="content">
<div class="widget-box">
  <div class="widget-title"> <span class="icon">
    <input type="checkbox" id="title-checkbox" name="title-checkbox" />
    </span>
    <h5>Courses</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th>Edit/Delete</th>
          <th>ID</th>
          <th>Name</th>
          <th>Total Class Hours</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <% @courses.each do |d| %>

          <td><div class="pull-right"><%= link_to "", edit_course_path(d.id), class: "icon-pencil" %>
          <%= link_to "", course_path(@courses), method: :delete,
        data: { confirm: "Are you sure you want to delete this project?" }%></td>          <td><%= d.id %></td>
          <td><%= link_to d.name %></td>
          <td><%= d.total_class_hour %></td>

        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
</div>
