
<div id="content">
<div class="widget-box">
  <div class="widget-title"> <span class="icon">
    <input type="checkbox" id="title-checkbox" name="title-checkbox" />
    </span>
    <h5>Instructors</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th>Edit/Delete</th>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Salary</th>
          <th>Highest Education</th>
          <th>Course</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <% @instructors.each do |d| %>

          <td><div class="pull-right"><%= link_to "", edit_instructor_path(d.id), class: "icon-pencil" %>
          <%= link_to "", instructor_path(@instructors), method: :delete,
          data: { confirm: "Are you sure you want to delete this project?" }%></td>
          <td><%= d.id %></td>
          <td><%= d.first_name %></td>
          <td><%= d.last_name %></td>
          <td><%= d.age %></td>
          <td><%= d.salary %></td>
          <td><%= d.highest_education %></td>
          <td><%= d.course.name %></td>


        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
</div>
