<div id="content">
  <div id="content-header">

<div class="row-fluid">
  <div class="span12">
<div class="widget-box">
  <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>


    <h5>Edit Instructor Details</h5>
  </div>
  <div class="widget-content nopadding">
    <div class="form-horizontal">

      <div class="control-group">
        <%= form_for @instructors do |f| %>
        <%= f.label :first_name, "First Name :", class: "control-label" %>
        <div class="controls">
      <%= f.text_field :first_name, class: 'span11', autofocus: true, placeholder: 'Course Name', value: @instructors.first_name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :last_name, "Last Name :", class: "control-label" %>
        <div class="controls">
      <%= f.text_field :last_name, class: 'span11', autofocus: true, placeholder: 'Last Name', value: @instructors.last_name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :age, "Age :", class: "control-label" %>
        <div class="controls">
      <%= f.text_field :age, class: 'span11', autofocus: true, placeholder: 'Age', value: @instructors.age %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :salary, "Salary :", class: "control-label" %>
        <div class="controls">
      <%= f.text_field :salary, class: 'span11', autofocus: true, placeholder: 'Salary', value: @instructors.salary %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :highest_education, "Highest Education :", class: "control-label" %>
        <div class="controls">
      <%= f.select :highest_education, options_for_select(["HS","College","Masters", "PHD"]), {}, class: "form-control", autofocus: true, prompt: true, value: @instructors.highest_education %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :course_id, "Change Course :", class: "control-label" %>
        <div class="controls">
          <%= f.collection_select(:course_id, Course.all, :id, :name_with_initial, prompt: true, class: "form-control", include_hidden: false,  value: @instructors.course_id) %>
        </div>
                  <%= f.hidden_field :user_id, value:current_user.id if current_user %>

      </div>

      <div>
        <%= f.submit class: "btn btn-success"%>
      <% end %>
      <%= button_to 'Delete', instructor_path(@instructors), method: :delete, class: "btn btn-success", confirm: 'Are you sure?' %>
    </div>

    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
