
<div id="content">
  <div id="content-header">
  <div class="container-fluid"><hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-briefcase"></i> </span>
            <h5 >Student</h5>
          </div>
          <div class="widget-content">
            <div class="row-fluid">
              <div class="span6">
                <table class="">
                  <tbody>
                    <tr>
                      <td><h4><%= @students.first_name %> <%= @students.last_name %></h4></td>
                    </tr>
                    <tr>
                      <td>Age: <%= @students.age %></td>
                    </tr>
                    <tr>
                      <td>Highest Education: <%= @students.highest_education %></td>
                    </tr>
                   
                    <tr>
                    </tr>
                  </tbody>
                </table>
              </div>

 <div class="widget-content  span6">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
    <td class="width30"><strong>All courses of</strong> <%= @students.first_name %> <%= @students.last_name %></td>



        </tr>
      </thead>
      <tbody>
        <tr>
         
          <td><%= @students.course.name %></td>
        </tr>
        
      </tbody>
    </table>
<table class="table table-bordered table-striped">
      <thead>
        <tr>
    <td class="width30"><strong>All Cohorts of</strong> <%= @students.first_name %> <%= @students.last_name %></td>



        </tr>
      </thead>
      <tbody>
        <tr>
         
          <td><%= @students.cohort.name %></td>
        </tr>
        
      </tbody>
    </table>
  </div>


