<!DOCTYPE html>
<html>
  <head>
    <title>pamela panel design</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js' %>

    <%= jquery_include_tag :google, force: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    







  </head>

  <body>
<div id="user-nav" class="navbar navbar-inverse">

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</div>



<div class="searchform" id="search">
  <%= form_with url: search_path, local: true, method: :get, html: { class: "searchform" } do |form| %> 
  <%= form.text_field :q, placeholder: "Search here...", data: {behavior: "autocomplete" } %>   
  <%= form.button "Search" %>  
<% end %>
</div>



<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>

  </body>
</html>
